.DetailContainer {
  width: 100%;
  height: auto;
}
.BannerSection {
  width: 100%;
  height: 80vh;

  position: relative;
}

.BannerSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-position: center;
}

.opacity_layer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: linear-gradient(180deg, #02022100, #020221);

  height: 400px;
}
.Dcontents {
  position: relative;
  width: 60%;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: -250px;
  display: flex;
  gap: 10px;
}
.overvieww {
  display: flex;
}
.Poster {
  width: 200px;
  height: auto;
}
.Poster img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.contentDetail {
  padding: 10px;
  width: 100%-200px;
}
.contentDetail h4 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px;
}
.tagLine {
  font-size: 15px;
  opacity: 0.8;
  margin: 8px 0px;
}
.Detailgenres {
  display: flex;
}
.Dgenre {
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px 5px;
  background-color: rgba(43, 41, 41, 0.73);
}
.ratingAndTrailer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.rating {
  margin: 20px 0px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.rating .rticon1 {
  font-size: 25px;
  color: yellow;
}
.rating .rticon {
  font-size: 20px;
}
.rating span {
  font-size: 14px;
  opacity: 0.8;
}
.rating .circle {
  position: relative;
  top: 0px;
}

.Dtrailer {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 53px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  z-index: 100;
  opacity: 0.6;
}
.icon:hover {
  opacity: 1;
  color: rgb(214, 89, 11);
}

.Dtrailer .icon:hover,
.Dtrailer p:hover {
  color: rgb(214, 89, 11);
}

.Dtrailer p {
  margin-top: 15px;
}
.OverView,
.reviewss {
  width: 600px;
  text-wrap: wrap;
  margin-top: 10px;
}
.OverView .overviewText {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.stsRelease1 {
  margin: 15px 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.status1 {
  display: flex;
  flex-direction: column;
}
.stsAns {
  font-size: 14px;
  opacity: 0.8;
}
.Director {
  display: flex;

  gap: 10px;
  letter-spacing: 0.02em;
}
.preName {
  width: auto;
  font-size: 14px;
  font-weight: 600;
}
.s {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.directors .dirName {
  font-size: 14px;
  opacity: 0.8;
}
.directors {
  width: 600px;

  display: flex;
  flex-wrap: wrap;
}

.belowSection {
  width: 85%;
  padding-bottom: 50px;
  margin: 0 auto;
}

.recommedationContainer {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.recommedationContainer h4 {
  font-size: 22px;
  font-weight: 700;
}
.tab {
  display: flex;
  gap: 10px;
  list-style: none;

  padding: 0px;
}
.user img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.reviewss {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  height: 600px;

  overflow-y: scroll;
  scrollbar-width: 5px;
}
.reviewss::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.reviewss::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
  background-color: #f5f5f5;
  display: none;
}

.reviewss::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: gray;
  border-radius: 10px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,
                         color-stop(.5, rgba(255, 255, 255, .2)),
                         color-stop(.5, transparent), to(transparent)); */
}
.reviewss .review {
  width: 100%;
  display: flex;
  gap: 10px;
}
.review-content {
  padding: 10px 20px;
  background-color: rgba(43, 41, 41, 0.73);
  display: flex;
  border-radius: 10px;

  flex-direction: column;
}
.review-content .content {
  font-size: 14px;
}
.review-content .usename {
  display: flex;
  font-size: 13px;
  margin: 0px;

  justify-content: space-between;
}
.usename .date {
  font-size: 12px;
  opacity: 0.7;
}
.tab .tb {
  padding: 10px 20px;
  border: none;
  outline: 0px;
  cursor: pointer;
  margin: 0px !important;
}
.tab .tb:hover {
  border-bottom: 2px solid rgb(214, 89, 11) !important;
}
.react-tabs__tab--selected {
  color: white !important;
  background: transparent !important;
  /* border-color: #aaa; */
  /* color: black; */
  border-bottom: 2px solid rgb(214, 89, 11) !important;
  border-radius: 5px 5px 0 0;
}

.imagesss {
  width: 600px;
  height: auto;

  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.imagesss::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.imagesss::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
  background-color: #f5f5f5;
  display: none;
}

.imagesss::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: gray;
  border-radius: 10px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,
                         color-stop(.5, rgba(255, 255, 255, .2)),
                         color-stop(.5, transparent), to(transparent)); */
}
.imagesss img {
  width: 180px!important;
  height: 200px;
  object-fit: cover;
}
 
/* .items {
  width: 180px !important;
  background-color: gainsboro;
} */

.tagLine {
  width: 550px;
}
@media only screen and (max-width: 600px) {
  .ratingAndTrailer {
    justify-content: center;
  }
  .reviewss {
    width: 100%;
  }
  .tab {
    justify-content: center;
  }

  .Dcontents {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .contentDetail {
    width: 100%;
  }

  .Poster {
    width: auto;
    display: flex;
    height: auto;
    gap: 20px;
    margin-bottom: 30px;

    justify-content: center;
  }
  .tagLine {
    width: 100%;
  }
  .Poster img {
    width: 180px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  .contentDetail h4 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .OverView {
    width: 100%;
  }
  .tagLine {
    text-align: center;
  }
  .preName {
    width: auto;
    margin-bottom: 10px;
  }

  .Dtrailer .icon {
    font-size: 43px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .Director {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .directors {
    width: 100%;
  }
  .recommedationContainer h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .Dcontents {
    margin-top: -180px;
  }

  .Detailgenres {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .BannerSection {
    width: 100%;
    height: 50vh;
  }
  
  .imagesss {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
 
    gap: 10px;
  }
   
  .imagesss img {
    width: 47%!important;
    height: 250px;
     margin: 5px auto;
  }

 
}
